@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSans';
  src: url('../../public/assets/fonts/DMSans.ttf');
  font-weight: 200 900;
}

@font-face {
  font-family: 'Satisfy';
  src: url('../../public/assets/fonts/Satisfy-Regular.ttf');
  font-weight: 400;
}

html {
  font-family: 'DMSans';
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.swiper-pagination-bullet {
  background: #000 !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .nav-v2-search__icon {
    position: absolute;
    top: 50%;
    left: 24px;
    width: 16px;
    height: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #6e6d7a;
  }

  .social-btn {
    border-radius: 9999px;
    padding: 8px 16px;
    border: opacity(0.8);
  }

  .social-btn:hover {
    opacity: 0.8;
  }

  .shots-grid {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    list-style: none;
  }

  .profile-action-item {
    border-radius: 9999px;
  }

  .shot-image {
    position: relative;
    width: 100%;
    background-color: #e7e7e9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .other-shot-image:first-child {
    border-radius: 0 0 0 8px;
  }

  .other-shot-image:not(:first-child) {
    margin-left: 4px;
  }

  .other-shot-image:last-child {
    border-radius: 0 0 8px 0;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .background-bar {
    width: 100%;
    height: 80px;
    background: linear-gradient(66deg, #e6fbfe 0%, #edddfb 100%);
  }

  @media (min-width: 1200px) {
    .shots-grid.shots-grid-with-large-shots {
      grid-template-columns: repeat(3, minmax(22px, 1fr));
    }
  }
  @keyframes like-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .like-animation {
    animation: like-pulse 0.5s ease-in-out;
  }
}
